[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
allure-pytest = "*"
allure-python-commons = "*"

[dev-packages]

[requires]
python_version = "3.9"
